.row-fluid
  .span12
    = simple_form_for @trip do |f|
      - if @trip.errors.any?
        .alert.alert-error
          %a.close{"data-dismiss" => 'alert'}
            ×
          #error_explanation
            %h2= "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
            %ul
              - @trip.errors.full_messages.each do |msg|
                %li= msg
      .span6.bordered.center-content
        .form-inputs
          = field_set_tag do
            %legend Trip information
            .row-fluid
              = f.input :from, require: true, placeholder: 'Example: NY,Bronx',  :wrapper_html => { :class => 'span6' }
              = f.input :to, require: true, placeholder: 'Example: NY,Queens',  :wrapper_html => { :class => 'span6' }
            .row-fluid
              = f.input :status, collection: @status.sort.map {|k,v| [v,k]} , :wrapper_html => { :class => 'span6' }
              = f.input :frequency, collection: @frequencies.sort.map {|k,v| [v,k]} , :wrapper_html => { :class => 'span6' }
        .form-inputs
          = field_set_tag do
            %legend Trip conditions and schedule
            .row-fluid
              = f.input :js_start_time,  placeholder: 'dd/mm/yyyy 00:00:00 AM', require: true, as: :date_time_picker, label: "Start Time", :wrapper_html => { :class => 'span6' }
              = f.input :js_finish_time,  placeholder: 'dd/mm/yyyy 00:00:00 AM', require: true, as: :date_time_picker, label: "Finish Time", :wrapper_html => { :class => 'span6' }
            %label Sits avalaible
            = f.number_field :sits, require: true
            = f.input :conditions, as: :text, :input_html => { :cols => 50, :rows => 3, class: 'span12' }, placeholder: 'Write your conditions here...'
            .actions
              = f.button :submit, 'Save', class: 'btn btn-large btn-primary pull-right'
