.row-fluid
  .span12
    .page-header
      %h1 Sign up
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.error_notification
      .bordered.span6.center-content
        .form-inputs
          = field_set_tag do
            %legend Personal information
            .row-fluid
              .span6.pull-left
                = image_tag(f.object.image_url, class:'photo-user')
              #welcome-message.span6
                %p
                  %strong Hello, Hitchhiker!
                %p
                  Please complete your personal details.

            .row-fluid
              = f.input :username, require: true, :wrapper_html => { :class => 'span6' }
              = f.input :name, require: true, :wrapper_html => { :class => 'span6' }
            .row-fluid
              = f.input :email, required: true, autofocus: true, :wrapper_html => { :class => 'span6' }
              = f.input :telephone, required: true, :wrapper_html => { :class => 'span6' }
            .row-fluid
              = f.input :driver,as: :boolean, inline_label: 'Driver', label: false, :wrapper_html => { :class => 'span6' }
        - if f.object.encrypted_password.present?
          = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
          = f.input :password_confirmation, :required => false
          = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
        .form-inputs
          = field_set_tag do
            %legend Vehicle information
            .row-fluid
              = f.input :vehicle_make, :wrapper_html => { :class => 'span6' }
              = f.input :vehicle_model, :wrapper_html => { :class => 'span6' }
            .row-fluid
              = f.input :vehicle_year, collection: Time.now.year-40..Time.now.year, prompt: 'Select the year', :wrapper_html => { :class => 'span6' }
              .span6
                = f.button :submit, 'Sign up', class: 'btn btn-large btn-primary'
